::selection {
  background-color: #f02e65;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 rgb(203, 213, 222);
  margin-top: 30px;
  margin-bottom: 40px;
  color: #f02e65;
  font-size: 30px;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #f02e65;
  font-size: 25px;
}

.top-right {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}

.appwrite-icon {
  height: 30px;
}

.link-git {
  color: #f02e65;
  display: flex;
}

.footer {
  color: #f02e65;
  text-decoration: underline;
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
  justify-content: center;
}

.btn-cont {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 35px;
}

button {
  cursor: pointer;
  font-size: 20px;
  width: 240px;
  height: 48px;
  border: 2px solid #f02e65;
  background: transparent;
  border-radius: 5px;
}

button:hover {
  border: 2px solid #4b5564;
}

.title {
  display: flex;
  justify-content: center;
}

.description {
  margin-top: 60px;
  text-align: center;
  font-size: 2.75rem;
  font-weight: bold;
  justify-content: center;
}

.pink-text {
  color: #f02e65;
}

.black-text {
  color: black;
}

.gif {
  margin-top: 20px;
  width: 600px;
  height: 300px;
  background: rgb(214, 214, 214);
  box-shadow: 0 0 10px rgba(240, 46, 101, 0.2), 0 0 80px rgba(240, 46, 101, 0.2),
    0 0 100px rgba(240, 46, 101, 0.2);
}

.gif-cont {
  display: flex;
  justify-content: center;
}
